---
---

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Knoxville CocoaHeads</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

    <div class="container">

      <div class="jumbotron">
        <img src="cocoahead.svg" alt="logo" width=300>
        <h1>Knoxville CocoaHeads</h1>
      </div>

      <p class="text-center">
        <a href="https://twitter.com/knoxcocoa" title="Twitter" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
        <a href="slack.html" title="Slack" target="_blank"><i class="fa fa-slack fa-2x"></i></a>
        <a href="http://www.meetup.com/knoxcocoa/" title="Meetup" target="_blank"><i class="fa fa-users fa-2x"></i></a>
        <a href="https://github.com/knoxcocoa" title="GitHub" target="_blank"><i class="fa fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/grp/home?gid=8311154" title="Linkedin" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
        <a href="mailto:info@knoxcocoa.org" title="Email"><i class="fa fa-envelope fa-2x"></i></a>
      </p>

      <p>Welcome to the CocoaHeads of Knoxville, TN! CocoaHeads is a group
      devoted to discussion of Apple's Cocoa and Cocoa Touch Frameworks for
      programming on OS X (Mac) and iOS (iPhone, iPad). During monthly
      meetings, members offer tutorials, present their projects, share app
      ideas, and provide advice to other programmers. Whether you are an
      experienced developer or just getting started, Knoxville CocoaHeads is a
      great way to stay current with the latest technologies and improve your
      programming skills. The global CocoaHeads site is available at
      cocoaheads.org</p>

      <p>Monthly meetings are every 3rd Tuesday from 7-9 pm at the Knoxville
      Entrepreneur Center (KEC) located between Subway and Soccer Taco in
      Market Square of downtown Knoxville. Parking decks are free after 6
      pm.</p>

      <hr>

      {% for year in site.years %}
          {% if year.title == 2017 %}
              {{ year.content }}
          {% endif %}
      {% endfor %}

      <hr>

      <h2>Archive</h2>

      {% for year in site.years reversed %}
          {% if year.title != 2017 %}
            <a class="btn btn-default" href="{{ site.url }}{{ year.url }}" role="button" style="width:100px;">{{ year.title }}</a>
            &nbsp;
          {% endif %}
      {% endfor %}

      <hr>
      
      <p class="text-center"><small>Knoxville CocoaHeads since 2014</small></p>

    </div>

  </body>

</html>

