body {
    background-color: gray;
    color: white;
    font-family: Arial;
    font-size: 14pt;
}

.container {
    margin: 0 auto;
    width: 700px;
}

/* iPhone 5 screen */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

body {
    font-size: 12pt;
}

.container {
    width: 100%;
}

}