body {
    background-color: rgb(72, 72, 72);
    color: white;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 12pt;
}

a {
    color: #ACF2FF;
    text-decoration: none;
}

a:hover {
    color: yellow;
}

h2, h3 {
    color: #ACF2FF;
    font-size: 14pt;
}

hr {
    border: 0;
    height: 1px;
    background-color: white;
}

p {
    text-align: left;
}

.container {
    margin: 0 auto;
    width: 700px;
}

/* Banner 
-------------------------------------------- */

#cocoaicon {
    float: left;
    height: 128px;
    margin-right: 20px;
    width: 128px;
}

/* iPhone 5 screen
-------------------------------------------- */

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {

body {
    font-size: 11pt;
}

h1 {
    font-size: 18pt;
}

h2, h3 {
    font-size: 13pt;
}

p {
    text-align: left;
}

.container {
    width: 100%;
}

#cocoaicon {
    float: left;
    height: 64px;
    margin-right: 20px;
    width: 64px;
}

}
